
.top {
    background-color: #F0A500;
    position: relative;
    padding-top: 90px;
}

.top-cloud {
    position: absolute;
    right: 25%;
    top: 5%;
}

.bottom-cloud {
    position: absolute;
    left: 25%;
    bottom: 300px;
}

body {
    background-color: white;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif; /*asi podemos especificar la fuente. Podemos indicar una fuente específica poniéndola entre comillas*/
}

h1 {
    color: #1B1A17;
    font-size: 5.625rem; /* 100%=1em=16px. Es bueno usar %, lo vuelve dinámico. Otra forma es con "em" */
    font-family: 'Sacramento', cursive;
    line-height: 2;
    margin: 50px auto 0 auto; /* margin: 0 auto; ES OTRA FORMA DE CENTRARLO, cuando tengo definido el width. "Auto" indica centrar */
}

h2 {
    color:#1B1A17; 
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #E45826;  
}

hr{
    border-top: 10px dotted #E6D5B8;
    border-bottom: none;
    border-left: none; 
    width: 10%;
    margin: 50px auto;
}

.middle {
    margin: 100px auto 0 auto;
}

.bottom {
    background-color: #F0A500;
    height: 100px;
    margin: 100px 0 0 0;
    padding: 40px 0 5px 0;
    font-family: 'Merriweather', serif
}

.footer-link {
    color: #E45826;
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.copyright{
    color: white;
    font-size: 0.85rem;
    padding: 40px 0 0;

}

.footer-link:hover {
    color: white ;
}

.foto-personal{
    width: 20%;
    border-radius: 100px;
}

.subtitulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color:#1B1A17; 
    font-weight: normal
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.osdev{
    float: left;
    width: 25%;
    margin-right: 30px;
}

.webdev{
    float: right;
    width: 25%;
    margin-left: 30px;
}

.btn {
    background: #E45826;
    background-image: -webkit-linear-gradient(top, #E45826, #E45826);
    background-image: -moz-linear-gradient(top, #E45826, #E45826);
    background-image: -ms-linear-gradient(top, #E45826, #E45826);
    background-image: -o-linear-gradient(top, #E45826, #E45826);
    background-image: linear-gradient(to bottom, #E45826, #E45826);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family:'Merriweather', serif;
    margin: 10px auto 0 auto;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.mensaje-contacto{
    margin: 5px auto 60px;
}